<div>
	<h4>Others waiting for feedback</h4>
	<!-- ko if: feedback().length > 0 -->
	<div class="list-group" data-bind="foreach: feedback">
		<a class="list-group-item" href="#" data-bind="text: description, attr: { href: '#view-feedback-opportunity/' + id }"></a>
	</div>
	<!-- /ko -->
	<!-- ko if: feedback().length == 0 -->
	<p>No one is waiting for your feedback.</p>
	<!-- /ko -->
	<div class="actions">
		<li>
			<a class="btn btn-navigation forward" data-bind="click: suggestFeedbackOpportunity" href="#">Suggest feedback opportunity</a>
		</li>
	</div>
</div>