<div>
	<div class="list-group">
		<li class="list-group-item">
			<h4>Feedback topics</h4>
		</li>
		<!-- ko if: feedback().length > 0 -->
		<a class="list-group-item" href="#">
			<span class="pull-right">
				<!-- This needs to collapse when too many people -->
				<ul class="list-unstyled list-inline list-avatars">
					<li><span data-bind="avatar: { image: 'https://s3.amazonaws.com/uifaces/faces/twitter/_shahedk/128.jpg', username: '_shahedk', size: 48, hasMenu: false }"></span></li>
					<li><span data-bind="avatar: { image: 'https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg', username: 'chadengle', size: 48, hasMenu: false }"></span></li>
				</ul>
			</span>
			<span>Test</span>
		</a>
		<!-- ko foreach: feedback -->
		<a class="list-group-item" href="#" data-bind="attr: { href: '#view-feedback-opportunity/' + id }">
			<span class="pull-right">
				<!-- This needs to collapse when too many people -->
				<ul class="list-unstyled list-inline list-avatars">
					<li><span data-bind="avatar: { image: 'https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg', username: 'chadengle', size: 48, hasMenu: false }"></span></li>
					<li><span data-bind="avatar: { image: 'https://s3.amazonaws.com/uifaces/faces/twitter/_shahedk/128.jpg', username: '_shahedk', size: 48, hasMenu: false }"></span></li>
					<li><span data-bind="avatar: { image: 'https://s3.amazonaws.com/uifaces/faces/twitter/iamgarth/128.jpg', username: 'iamgarth', size: 48, hasMenu: false }"></span></li>
				</ul>
			</span>
			<span data-bind="text: description"></span>
			<ul class="list-unstyled list-inline">
				<li>
					<i class="fa fa-user"></i>
					20
				</li>
				<li>
					<i class="fa fa-clock-o"></i>
					6d
				</li>
			</ul>
			<div class="progress">
				<div class="progress-bar" style="width: 35%">
					<span class="sr-only">35% completed</span>
				</div>
			</div>
		</a>
		<!-- /ko -->
		<!-- ko if: feedback().length == 0 -->
		<li class="list-group-item">You have no feedback open to others.</li>
		<!-- /ko -->
		<!-- /ko -->
		<li class="list-group-item">
			<span class="pull-right">
				<a class="btn btn-navigation" data-bind="click: createFeedbackOpportunity" href="#">
					<i class="fa fa-plus"></i>
					Create new feedback topic
				</a>
			</span>
		</li>
	</div>
	
</div>