<div>
	<div class="container">
		<div id="site-title">
			<h2 data-bind="text: feedback().description"></h2>
		</div>
		
		<h4>Feedback participants</h4>
		
		<p>No one!</p>
		
		<span class="placeholder">Feedback for:</span>
		<span data-bind="text: feedback().for"></span>
		<span class="placeholder">by:</span>
		<span data-bind="text: feedback().by"></span>
		<span class="placeholder">with id:</span>
		<span data-bind="text: feedback().id"></span>
		
		
		<div class="actions">
			<a data-bind="click: cancel" href="#" class="forward btn btn-danger">Cancel feedback</a>
			<a data-bind="click: expire" href="#" class="forward btn btn-danger">Expire feedback</a>
			<a data-bind="click: complete" href="#" class="forward btn btn-danger">Complete feedback</a>
		</div>
		
		<ul class="actions">
			<li>
				<a data-bind="attr: { href: '#user/' + user().username }" class="back btn btn-navigation">&larr; Back to dashboard</a>
			</li>
		</ul>
	</div>
</div>