@model IEnumerable< SocialPirates.Blackbeard.Site.Models.ProjectDisplayModel>

@{
    ViewBag.Title = "All Projects";
}

<h2>All Projects</h2>

@{ var needsNewline = false; }
@foreach (var project in Model){
    <div class="span6">
        @project.Name
    </div>
}