@model IEnumerable<SocialPirates.Blackbeard.Site.Models.ProjectDisplayModel>

@{
    ViewBag.Title = "My Projects";
}

<h2>My Projects</h2>

<table class="table table-hover">
    @foreach (var project in Model)
    {   
        <tr>
            <td>
                @Html.ActionLink(project.Name,"Display",new{id=project.Id})
            </td>
        </tr>
    }
</table>
