<div class="container">
	<nav id="site-nav">
		<button class="visible-xs visible-sm" data-toggle="dropdown"></button>
		<button class="visible-md visible-lg" data-toggle="dropdown"></button>
		<ul class="dropdown-menu" role="menu">
			<!-- ko if: !user() -->
			<li><a data-bind="click: showSignIn" href="#"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
			<!-- /ko -->
			<!-- ko if: user() -->
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> <span data-bind="text: user().displayName"></span></a></li>
			<li><a data-bind="click: showProfile" href="#"><span class="glyphicon glyphicon-cog"></span> Account settings</a></li>
			<li><a href="/odo/auth/signout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
			<!-- /ko -->
		</ul>
	</nav>
</div>