<nav id="site-nav">
	<button data-toggle="dropdown"></button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#"><span class="glyphicon glyphicon-home"></span> Blackbeard</a></li>
		<li class="divider"></li>
		<!-- ko if: !user() -->
		<li><a href="/auth/twitter"><span class="glyphicon glyphicon-check"></span> Sign in</a></li>
		<!-- /ko -->
		<!-- ko if: user() -->
		<li><a href="#"><span class="glyphicon glyphicon-user"></span> <span data-bind="text: user().displayName"></span></a></li>
		<li><a href="/auth/signout"><span class="glyphicon glyphicon-eject"></span> Sign out</a></li>
		<!-- /ko -->
	</ul>
</nav>