<div>
	<div id="site-title">
		<h1>Blackbeard <small>Performance reviews done right</small></h1>
	</div>
	
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome</h1>
			
			<p>Blackbeard is simple as. Give feedback and get feedback with sliders that look like this:</p>
			
			<div class="row">
				<div class="slider-box">
					<div class="slider slider-skill" data-bind="slider: skill"></div>
					<small>Skill</small>
				</div>
				<div class="slider-box">
					<div class="slider slider-output" data-bind="slider: output"></div>
					<small>Output</small>
				</div>
				<div class="slider-box">
					<div class="slider slider-delivery" data-bind="slider: delivery"></div>
					<small>Delivery</small>
				</div>
				<div class="slider-box">
					<div class="slider slider-group" data-bind="slider: group"></div>
					<small>Group</small>
				</div>
			</div>
		</div>
	</div>
</div>