<div id="user-profile-facebook" class="panel panel-default" data-bind="shortcuts: { 'left': back }">
	<div class="panel-heading">
		<h2 class="panel-title">Your Facebook profile</h2>
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Id</dt>
			<dd data-bind="text: user().facebook.profile.id"></dd>
			<dt>Username</dt>
			<dd data-bind="text: user().facebook.profile.username"></dd>
			<dt>Display name</dt>
			<dd data-bind="text: user().facebook.profile.displayName"></dd>
			<dt>Family name</dt>
			<dd data-bind="text: user().facebook.profile.name.familyName"></dd>
			<dt>Given name</dt>
			<dd data-bind="text: user().facebook.profile.name.givenName"></dd>
			<dt>Gender</dt>
			<dd data-bind="text: user().facebook.profile.gender"></dd>
			<dt>Profile url</dt>
			<dd><a data-bind="text: user().facebook.profile.profileUrl, attr: { href: user().facebook.profile.profileUrl }"></a></dd>
			<dt>Updated time</dt>
			<dd data-bind="text: user().facebook.profile._json.updated_time"></dd>
			<dt>Time zone</dt>
			<dd data-bind="text: user().facebook.profile._json.timezone"></dd>
			<dt>Locale</dt>
			<dd data-bind="text: user().facebook.profile._json.locale"></dd>
			<dt>Verified</dt>
			<dd data-bind="text: user().facebook.profile._json.verified"></dd>
		</dl>
		<a href="#" data-bind="click: startDisconnect, visible: !disconnectStarted()" class="btn btn-default">Disconnect Facebook</a>
		<div data-bind="visible: disconnectStarted()" class="alert alert-danger alert-dismissable">
  		<button type="button" class="close" data-bind="click: stopDisconnect">&times;</button>
			This will disconnect your Facebook account from your Blackbeard account. If you do not have another way to sign in to Blackbeard you will lose access to your account
			<ul class="actions">
				<a href="#" data-bind="click: stopDisconnect" class="btn btn-navigation alert-link back">Cancel</a>
				<a href="#" data-bind="click: disconnect" class="btn btn-danger forward">Disconnect Facebook</a>
			</ul>
		</div>
		<ul class="actions">
			<li>
				<button data-bind="click: back" class="forward btn btn-primary">Okay</button>
			</li>
		</ul>
	</div>
</div>