<div class="container">
	<div id="site-title">
		<h1><span data-bind="text: dashboardUser().displayName"></span> <small data-bind="text: '@' + dashboardUser().username"></small></h1>
	</div>
	<div class="row">
		<div class="col-md-6" data-bind="foreach: inwidgets">
			<div data-bind="compose: { model: $data, activationData: { viewingUser: $parent.viewingUser(), dashboardUser: $parent.dashboardUser() } }"></div>
		</div>
		<div class="col-md-6" data-bind="foreach: outwidgets">
			<div data-bind="compose: { model: $data, activationData: { viewingUser: $parent.viewingUser(), dashboardUser: $parent.dashboardUser() } }"></div>
		</div>
	</div>
</div>