@model SocialPirates.Blackbeard.Site.Models.ProjectModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Project</h3>
</div>

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "modal-form" }))
{
    @Html.ValidationSummary(true)
    
    <div class="modal-body">
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
}