@model SocialPirates.Blackbeard.Site.Models.ProjectsModel

@{
    ViewBag.Title = "All Projects";
}

<h2>All Projects</h2>

@{ var needsNewline = false; }
@foreach (var project in Model.Projects){
    <div class="span6">
        @project.Name
    </div>
}