// new fonts and sizes
body {
	font-family: "Coming Soon", serif;
	font-size: 18px;
}
b, strong, dt, label, .badge, .alert .alert-link, .close, th,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Patrick Hand', verdana, sans-serif;
}
b, strong, dt, label, .badge, .alert .alert-link, .close, th {
	font-size: 1.3em;
}
.tooltip {
	font-size: 16px;
}
.help-block {
	font-size: 14px;
}
// labels keep original font
.label,
.input-group-addon {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

small {
	font-family: "Coming Soon", serif;
	font-size: 50%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	small {
		color: #333;
	}
}

// headings are bigger
h1, .h1 {
	font-size: 42px;
}
h2, .h2 {
	font-size: 36px;
}
h3, .h3 {
	font-size: 30px;
}
h4, .h4 {
	font-size: 24px;
}
h5, .h5 {
	font-size: 18px;
}
h6, .h6 {
	font-size: 14px;
}

// cool underline for links
a:not(.btn) {
	color: inherit;
	background: url('underline.png') repeat-x 0% 100%;
}
a:not(.btn):hover {
	color: inherit;
	text-decoration: none;
}
// special a elements don't get the style
.nav-pills>li>a,
.pagination>li>a,
.breadcrumb a,
.navbar-brand,
.navbar-nav>li>a,
.dropdown-menu > li > a,
.authentication-mechanisms a {
	background: none;
}

// fix dropdowns
.dropdown-menu > li > a {
	padding-bottom: 1px;
}

// remove animation
.form-control,
.img-thumbnail,
.collapsing,
.thumbnail {
	-webkit-transition: none;
	transition: none;
}
// remove fuzzy border
.form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.btn:active,
.btn.active,
.navbar-form,
.navbar-collapse {
	box-shadow: none;
	-webkit-box-shadow: none;
}
a:focus,
a:active,
.btn:focus,
.btn:active,
button:focus,
button:active,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.well {
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
}

// panel title is bigger
.panel-title,
.modal-title {
	font-size: 28px;
}

// fix components
.list-group-item,
.breadcrumb,
.nav-pills>li>a,
.btn,
.form-control,
.pagination>li>a, .pagination>li>span {
	padding-bottom: 3px;
}

// fix nav
.navbar-nav>li>a,
.navbar-brand {
	padding-bottom: 10px;
}
.navbar {
	min-height: 45px;
}
.navbar-form {
	margin-top: 6px;
	margin-bottom: 5px;
}
.navbar-text {
	margin-top: 12px;
	margin-bottom: 8px;
}

// fix form items
input[type="file"]{
	line-height: 1.2em;
}
input[type="checkbox"] {
	margin-top: 10px;
}

// larger borders
.navbar,
.panel,
.panel-heading,
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive,
.modal-dialog,
.modal-heading,
.modal>.modal-body+.table, .modal>.modal-body+.table-responsive,
.dropdown-menu,
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-width: 2px;
}
.dropdown-menu .divider {
	height: 2px;
}
.panel>.list-group .list-group-item,
.modal>.list-group .list-group-item {
	border-width: 2px;
	margin-top: -2px;
	margin-left: -2px;
	margin-right: -2px;
}
.table>thead>tr>th {
	border-width: 4px;
}

// cooler jumbotron
.jumbotron {
	background-color: inherit;
	border: 2px dashed #999;
	font-size: 24px;
}
.well {
	background-color: inherit;
	border: 2px dashed #999;
}


body {
	// This is needed so scrollyspy knows where things are located.
	position: relative;
	
	// Reserve space for padding so things don't look crampt
	padding-top: 90px;
	padding-bottom: 15px;
}

textarea {
	resize: vertical;
}

#site-title {
	margin-left: 95px;
	margin-top: -80px;
	margin-bottom: 30px;
	
	small {
		line-height: 10px;
	}
}
@media (max-width: 991px) {
	body {
		padding-top: 65px;
	}
	
	#site-title {
		margin-left: 70px;
		margin-top: -70px;
	}
}

#site-nav {
	position: absolute;
	top: 10px;
	left: 10px;
	
	button {
		margin: 0;
		padding: 5px;
		border: 0;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		width: 74px;
		height: 74px;
		background-image: url("blackbeard64.png");
		background-color: transparent;
		background-position: 5px 5px;
		background-repeat: no-repeat;
		
		&.visible-xs {
			background-image: url("blackbeard48.png");
			width: 58px;
			height: 58px;
			margin-top: -5px;
			margin-left: -5px;
		}
		
		&:focus {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

#loading-space {
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 300px;
	height: 300px;
	
	margin-top: -130px;
	margin-left: -150px;
	
	text-align: center;
	
	img {
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}
}

.authentication-mechanisms {
	text-align: center;
	
	div {
		display: inline-block;
	}
	
	a {
		display: inline-block;
		width: 220px;
		height: 220px;
		margin: 10px;

		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		
		border: 2px dashed #999;
		
		&:hover {
			background-color: #eee;
		}
		
		img {
			padding: 10px;
		}
	}
}

.avatar {
	padding: 3px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	border: 1px solid #999;
}

.btn-paragraph {
	margin: 0 0 10px;
}

// for some reason close elements are automatically huge, this makes them get their size from where they are
.close {
	line-height: 0.7;
}

@silder-width: 60px;
@slider-height: 200px;

.slider-box {
	float: left;
	margin: 0 10px;
	text-align: center;
	width: @silder-width;
	overflow: visible;
	
	&.center-block {
		float: none;
		margin: inherit;
	}
}

.slider {
	position: relative;
	
	//-webkit-box-shadow: inset 0 0 8px 0 #ccc;
	//   -moz-box-shadow: inset 0 0 8px 0 #ccc;
	//        box-shadow: inner 0 0 8px 0 #ccc;
	background-color: rgba(0, 0, 0, 0.06);
	
	z-index: 100;
	
	width: @silder-width;
	height: @slider-height;
	overflow: hidden;
	
	.handle {
		position: absolute;
		cursor: ns-resize;
		width: @silder-width;
		height: @slider-height * 2;
	}
	
	.slide {
		position: absolute;
		bottom: 0px;
		width: @silder-width;
		height: @slider-height;
		background: #c00;
	}
}

.slider.slider-skill {
	.slide {
		background: #f92e59;
	}
}

.slider.slider-output {
	.slide {
		background: #ff703f;
	}
}

.slider.slider-delivery {
	.slide {
		background: #f6bc03;
	}
}

.slider.slider-group {
	.slide {
		background: #dfd487;
	}
}

