body {
  position: relative;
  padding-top: 90px;
  padding-bottom: 15px;
}
@media (max-width: 991px) {
  body {
    padding-top: 65px;
  }
}
#loading-space {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -200px;
  margin-left: -150px;
  text-align: center;
}
#loading-space img {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#site-nav {
  position: absolute;
  top: 10px;
  left: 10px;
}
#site-nav button {
  margin: 0;
  padding: 5px;
  border: 0;
  border-radius: 9999px;
  width: 74px;
  height: 74px;
  background-image: url("blackbeard64.png");
  background-color: transparent;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
#site-nav button.visible-xs {
  background-image: url("blackbeard48.png");
  width: 58px;
  height: 58px;
  margin-top: -5px;
  margin-left: -5px;
}
#site-nav button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.close {
  line-height: 0.7;
}
.actions {
  padding-left: 0;
  margin: 20px 0;
  height: 0px;
  overflow: visible;
  text-align: center;
  list-style: none;
}
.actions li {
  height: 0px;
  overflow: visible;
}
.actions .forward {
  float: right;
}
.actions .back {
  float: left;
}
.panel-heading .actions {
  margin: -6px -12px -6px 0;
  text-align: left;
  float: right;
  height: auto;
}
.panel-heading .actions li {
  height: auto;
}
.modal-dialog > .wizard > .panel-default {
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.wizard .animated {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.slider-box {
  float: left;
  margin: 0 10px;
  text-align: center;
  width: 40px;
  overflow: visible;
}
.slider-box.center-block {
  float: none;
  margin: inherit;
}
.slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  z-index: 100;
  width: 40px;
  height: 200px;
  overflow: hidden;
}
.slider .handle {
  position: absolute;
  cursor: ns-resize;
  width: 40px;
  height: 400px;
}
.slider .slide {
  position: absolute;
  bottom: 0px;
  width: 40px;
  height: 200px;
  background: #c00;
}
.slider.slider-skill .slide {
  background: #f92e59;
}
.slider.slider-output .slide {
  background: #ff703f;
}
.slider.slider-delivery .slide {
  background: #f6bc03;
}
.slider.slider-group .slide {
  background: #dfd487;
}
body {
  font-family: "Coming Soon", serif;
  font-size: 18px;
}
b,
strong,
dt,
label,
.badge,
.alert .alert-link,
.close,
th,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Patrick Hand', verdana, sans-serif;
}
b,
strong,
dt,
label,
.badge,
.alert .alert-link,
.close,
th {
  font-size: 1.3em;
}
.label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
.h1 {
  font-size: 42px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 14px;
}
a {
  color: inherit;
  background: url('underline.png') repeat-x 0% 100%;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.nav-pills > li > a,
.pagination > li > a,
.breadcrumb a,
.navbar-brand,
.navbar-nav > li > a,
.dropdown-menu > li > a {
  background: none;
}
.dropdown-menu > li > a {
  padding-bottom: 1px;
}
.form-control,
.img-thumbnail,
.collapsing,
.thumbnail {
  -webkit-transition: none;
  transition: none;
}
.form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.btn:active,
.btn.active,
.navbar-form,
.navbar-collapse {
  box-shadow: none;
  -webkit-box-shadow: none;
}
a:focus,
a:active,
.btn:focus,
.btn:active,
button:focus,
button:active,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.well {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
}
.panel-title {
  font-size: 28px;
}
.list-group-item,
.breadcrumb,
.nav-pills > li > a,
.btn,
.form-control,
.pagination > li > a,
.pagination > li > span {
  padding-bottom: 3px;
}
.navbar-nav > li > a,
.navbar-brand {
  padding-bottom: 10px;
}
.navbar {
  min-height: 45px;
}
.navbar-form {
  margin-top: 6px;
  margin-bottom: 5px;
}
.navbar-text {
  margin-top: 12px;
  margin-bottom: 8px;
}
input[type="file"] {
  line-height: 1.2em;
}
input[type="checkbox"] {
  margin-top: 10px;
}
.navbar,
.panel,
.panel-heading,
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.dropdown-menu,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-width: 2px;
}
.dropdown-menu .divider {
  height: 2px;
}
.panel > .list-group .list-group-item {
  border-width: 2px;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}
.table > thead > tr > th {
  border-width: 4px;
}
.jumbotron {
  background-color: inherit;
  border: 2px dashed #999;
  font-size: 24px;
}
.well {
  background-color: inherit;
  border: 2px dashed #999;
}
