/*
@font-face {
	font-family: 'LunchBoxSlab';
	src: url('lunchboxslabbold/lunchboxslabbold.eot');
	src: url('lunchboxslabbold/lunchboxslabbold.eot?#iefix') format('embedded-opentype'),
			 url('lunchboxslabbold/lunchboxslabbold.woff') format('woff'),
			 url('lunchboxslabbold/lunchboxslabbold.ttf') format('truetype'),
			 url('lunchboxslabbold/lunchboxslabbold.svg#lunchboxslabbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'LunchBoxSlab';
	src: url('lunchboxslab/lunchboxslab.eot');
	src: url('lunchboxslab/lunchboxslab.eot?#iefix') format('embedded-opentype'),
			 url('lunchboxslab/lunchboxslab.woff') format('woff'),
			 url('lunchboxslab/lunchboxslab.ttf') format('truetype'),
			 url('lunchboxslab/lunchboxslab.svg#lunchboxslab') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LunchBoxSlab';
	src: url('lunchboxslablight/lunchboxslablight.eot');
	src: url('lunchboxslablight/lunchboxslablight.eot?#iefix') format('embedded-opentype'),
			 url('lunchboxslablight/lunchboxslablight.woff') format('woff'),
			 url('lunchboxslablight/lunchboxslablight.ttf') format('truetype'),
			 url('lunchboxslablight/lunchboxslablight.svg#lunchboxslablight') format('svg');
	font-weight: lighter;
	font-style: normal;
}*/
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
body,
small {
  font-family: 'Coming Soon', serif;
}
body {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Patrick Hand', verdana, sans-serif;
}
b,
strong,
dt,
label,
.badge,
.close,
th {
  font-family: 'Patrick Hand', verdana, sans-serif;
  font-size: 1.3em;
}
.tooltip {
  font-size: 16px;
}
.help-block {
  font-size: 14px;
}
.label,
.input-group-addon {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
small {
  font-size: 50%;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #333;
}
h1,
.h1 {
  font-size: 42px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 14px;
}
dd {
  line-height: 2.1;
}
a:not(.btn) {
  background: url('/images/underline-orange.png') repeat-x 0% 100%;
}
a:not(.btn):hover {
  color: inherit;
  text-decoration: none;
}
.nav-pills > li > a,
.pagination > li > a,
.breadcrumb a,
.navbar-brand,
.navbar-nav > li > a,
.dropdown-menu > li > a,
.authentication-mechanisms a,
a.list-group-item {
  background: none;
}
.dropdown-menu > li > a {
  padding-bottom: 1px;
}
.form-control,
.img-thumbnail,
.collapsing,
.thumbnail {
  -webkit-transition: none;
  transition: none;
}
.form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.btn:active,
.btn.active,
.navbar-form,
.navbar-collapse {
  box-shadow: none;
  -webkit-box-shadow: none;
}
a:focus,
a:active,
.btn:focus,
.btn:active,
button:focus,
button:active,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.well {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
}
.panel-title,
.modal-title {
  font-size: 28px;
}
.panel-title {
  color: rgba(0, 0, 0, 0.4);
}
.list-group-item,
.breadcrumb,
.nav-pills > li > a,
.btn,
.form-control,
.pagination > li > a,
.pagination > li > span {
  padding-bottom: 3px;
}
.list-group-item .btn {
  margin-top: -5px;
}
.list-group-item {
  overflow: auto;
}
.navbar-nav > li > a,
.navbar-brand {
  padding-bottom: 10px;
}
.navbar {
  min-height: 45px;
}
.navbar-form {
  margin-top: 6px;
  margin-bottom: 5px;
}
.navbar-text {
  margin-top: 12px;
  margin-bottom: 8px;
}
input[type="file"] {
  line-height: 1.2em;
}
input[type="checkbox"] {
  margin-top: 10px;
}
.alert {
  overflow: auto;
}
.navbar,
.panel,
.panel-heading,
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.modal-dialog,
.modal-heading,
.modal > .modal-body + .table,
.modal > .modal-body + .table-responsive,
.dropdown-menu,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-width: 2px;
}
.dropdown-menu .divider {
  height: 2px;
}
.panel > .list-group .list-group-item,
.modal > .list-group .list-group-item {
  border-width: 2px;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}
.table > thead > tr > th {
  border-width: 4px;
}
.jumbotron {
  background-color: inherit;
  border: 2px dashed #999;
  font-size: 24px;
}
.well {
  background-color: inherit;
  border: 2px dashed #999;
}
body {
  position: relative;
  padding-top: 90px;
  padding-bottom: 15px;
}
textarea {
  resize: vertical;
}
#site-title {
  padding-left: 95px;
  padding-bottom: 20px;
  margin-top: -80px;
  margin-bottom: 30px;
  background: url('/images/double-underline-orange.png') repeat-x 0% 100%;
}
#site-title h1 {
  font-weight: bold;
}
#site-title small {
  line-height: 10px;
  font-size: 22px;
  color: inherit;
}
@media (max-width: 991px) {
  body {
    padding-top: 55px;
  }
  #site-title {
    padding-left: 70px;
    margin-top: -70px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 15px;
  }
  #site-title {
    padding-left: 70px;
    margin-top: -70px;
  }
}
#site-nav {
  position: relative;
}
#site-nav button {
  margin: 0;
  padding: 5px;
  margin-left: 5px;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  background-image: url('/images/blackbeard64.png');
  background-color: transparent;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
#site-nav button.visible-xs {
  background-image: url('/images/blackbeard48.png');
  width: 58px;
  height: 58px;
  margin-top: -5px;
  margin-left: -5px;
}
#site-nav button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.authentication-mechanisms {
  text-align: center;
}
.authentication-mechanisms div {
  display: inline-block;
}
.authentication-mechanisms a {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px dashed #999;
}
.authentication-mechanisms a:hover {
  background-color: #eee;
}
.authentication-mechanisms a img {
  padding: 10px;
}
.avatar {
  padding: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #999;
}
.btn-paragraph {
  margin: 0 0 10px;
}
.placeholder {
  opacity: 0.5;
}
.close {
  line-height: 0.7;
}
.slider-box {
  float: left;
  text-align: center;
  width: 100px;
  overflow: visible;
}
.slider-box.center-block {
  float: none;
  margin: inherit;
}
.slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  z-index: 100;
  width: 60px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.slider .handle {
  position: absolute;
  cursor: ns-resize;
  width: 60px;
  height: 400px;
}
.slider .slide {
  position: absolute;
  bottom: 0px;
  width: 60px;
  height: 200px;
  background: #c00;
}
.slider.slider-skill .slide {
  background: #f92e59;
}
.slider.slider-output .slide {
  background: #ff703f;
}
.slider.slider-delivery .slide {
  background: #f6bc03;
}
.slider.slider-group .slide {
  background: #dfd487;
}
.actions {
  overflow: auto;
  height: auto;
}
.btn-navigation {
  background-color: none;
  background-color: transparent;
}
.btn-navigation:hover {
  color: #f80;
  background-color: rgba(255, 88, 0, 0.05);
}
.btn-primary {
  background-color: none;
  background-color: transparent;
  border: 2px dashed #f80;
  color: #333;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus {
  color: #f80;
  border-color: #f80;
  background-color: rgba(255, 88, 0, 0.05);
}
@font-face {
  font-family: 'LunchBoxSlab Ornaments';
  src: url('lunchboxslabornaments/lunchbox_slab_ornaments-webfont.eot');
  src: url('lunchboxslabornaments/lunchbox_slab_ornaments-webfont.eot?#iefix') format('embedded-opentype'), url('lunchboxslabornaments/lunchbox_slab_ornaments-webfont.woff') format('woff'), url('lunchboxslabornaments/lunchbox_slab_ornaments-webfont.ttf') format('truetype'), url('lunchboxslabornaments/lunchbox_slab_ornaments-webfont.svg#lunchbox_slab_ornaments-webfont') format('svg');
  font-weight: lighter;
  font-style: normal;
}
.lunchboxicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'LunchBoxSlab Ornaments';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.lunchboxicon:empty {
  width: 1em;
}
.lunchboxicon-moustache:before {
  content: "\00EF";
}
.lunchboxicon-forward:before {
  content: "\004D";
}
.lunchboxicon-back:before {
  content: "\004E";
}
