@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.list-group-item {
  overflow: auto;
}
.alert {
  overflow: auto;
}
body {
  position: relative;
  padding-top: 90px;
  padding-bottom: 15px;
}
textarea {
  resize: vertical;
}
.form-control,
.img-thumbnail,
.collapsing,
.thumbnail {
  -webkit-transition: none;
  transition: none;
}
.form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.btn:active,
.btn.active,
.navbar-form,
.navbar-collapse {
  box-shadow: none;
  -webkit-box-shadow: none;
}
a:focus,
a:active,
.btn:focus,
.btn:active,
button:focus,
button:active,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.well {
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
}
#site-title {
  padding-left: 95px;
  padding-bottom: 20px;
  margin-top: -80px;
  margin-bottom: 30px;
  background: url('/images/double-underline-orange.png') repeat-x 0% 100%;
}
#site-title h1 {
  font-weight: bold;
}
#site-title small {
  line-height: 10px;
  font-size: 22px;
  color: inherit;
}
@media (max-width: 991px) {
  body {
    padding-top: 55px;
  }
  #site-title {
    padding-left: 70px;
    margin-top: -70px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 15px;
  }
  #site-title {
    padding-left: 70px;
    margin-top: -70px;
  }
}
#site-nav {
  position: relative;
}
#site-nav button {
  margin: 0;
  padding: 5px;
  margin-left: 5px;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  background-image: url('/images/blackbeard64.png');
  background-color: transparent;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
#site-nav button.visible-xs {
  background-image: url('/images/blackbeard48.png');
  width: 58px;
  height: 58px;
  margin-top: -5px;
  margin-left: -5px;
}
#site-nav button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.authentication-mechanisms {
  text-align: center;
}
.authentication-mechanisms div {
  display: inline-block;
}
.authentication-mechanisms a {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px dashed #999;
}
.authentication-mechanisms a:hover {
  background-color: #eee;
}
.authentication-mechanisms a img {
  padding: 10px;
}
.avatar {
  position: relative;
  display: inline-block;
}
.avatar a {
  background: none;
}
.avatar a:focus img {
  background-color: #999;
}
.avatar img {
  padding: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #999;
}
.btn-paragraph {
  margin: 0 0 10px;
}
.placeholder {
  opacity: 0.5;
}
.close {
  line-height: 0.7;
}
.slider-box {
  float: left;
  text-align: center;
  width: 100px;
  overflow: visible;
}
.slider-box.center-block {
  float: none;
  margin: inherit;
}
.slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  z-index: 100;
  width: 60px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.slider .handle {
  position: absolute;
  cursor: ns-resize;
  width: 60px;
  height: 400px;
}
.slider .slide {
  position: absolute;
  bottom: 0px;
  width: 60px;
  height: 200px;
  background: #c00;
}
.slider.slider-skill .slide {
  background: #f92e59;
}
.slider.slider-output .slide {
  background: #ff703f;
}
.slider.slider-delivery .slide {
  background: #f6bc03;
}
.slider.slider-group .slide {
  background: #dfd487;
}
.actions {
  overflow: auto;
  height: auto;
}
.btn-navigation {
  background-color: none;
  background-color: transparent;
  color: #333;
}
.btn-navigation:hover {
  color: #f80;
  background-color: rgba(255, 88, 0, 0.05);
}
