<div id="local-signin" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Sign in with your Blackbeard username and password</h2>
	</div>
	<div class="panel-body">
		<form data-bind="submit: signin" class="signin" role="form" method="post" action="/odo/auth/local" autocomplete="off">
			<div class="form-group" data-bind="css: {'has-error': username.isModified() && !username.isValid() }">
				<label class="control-label" for="username">Username <small data-bind="visible: username.isValidating">validating&hellip;</small><small data-bind="validationMessage: username"></small></label>
				<div class="input-group">
 					<span class="input-group-addon">@</span>
					<input data-bind="value: username" type="text" class="form-control" name="username" placeholder="How you are known in Blackbeard" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>
				</div>
			</div>
			<div class="form-group" data-bind="css: {'has-error': password.isModified() && !password.isValid() }">
				<label class="control-label" for="password">Password <small data-bind="validationMessage: password"></small></label>
				<input data-bind="value: password" type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
			</div>
			<ul class="actions">
				<li>
					<a data-bind="click: signup" class="back btn btn-default">Join Blackbeard</a>
				</li>
				<li>
					<button data-bind="click: signin" type="submit" class="forward btn btn-primary">Sign in</button>
				</li>
				<li>
					<a data-bind="click: forgot" type="submit" class="forward btn btn-default">Forgot password</a>
				</li>
			</ul>
		</form>
	</div>
</div>