<div id="local-signin" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Manually signin with an email and password</h2>
	</div>
	<div class="panel-body">
		<form class="signin" role="form" method="post" action="/odo/auth/local">
			<div class="form-group">
				<label class="sr-only" for="username">Email address</label>
				<input type="email" class="form-control" id="username" name="username" placeholder="Email address">
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>
			<ul class="actions">
				<li>
					<button data-bind="click: signup" class="back btn btn-default">Join Blackbeard</button>
				</li>
				<li>
					<button type="submit" class="forward btn btn-primary">Sign in</button>
				</li>
			</ul>
		</form>
	</div>
</div>