<div id="local-signup" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Signup to Blackbeard</h2>
	</div>
	<div class="panel-body">
		<form  data-bind="submit: signup" class="signup" role="form" method="post" action="/odo/auth/local/signup" autocomplete="off">
			<div class="form-group" data-bind="css: {'has-error': displayName.isModified() && !displayName.isValid() }">
				<label class="control-label" for="displayName">Full name <small data-bind="validationMessage: displayName"></small></label>
				<div class="input-group">
 					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input data-bind="value: displayName" type="text" class="form-control" id="displayName" name="displayName" placeholder="So Blackbeard can greet you" autocomplete="off" autocorrect="off" spellcheck="false">
				</div>
			</div>
			<div class="form-group" data-bind="css: {'has-error': username.isModified() && !username.isValid() }">
				<label class="control-label" for="username">Username <small data-bind="visible: username.isValidating">validating&hellip;</small><small data-bind="validationMessage: username"></small></label>
				<div class="input-group">
 					<span class="input-group-addon">@</span>
					<input data-bind="value: username" type="text" class="form-control" name="username" placeholder="How you are known in Blackbeard"autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				</div>
			</div>
			<div class="form-group" data-bind="css: {'has-error': password.isModified() && !password.isValid() }">
				<label class="control-label" for="password">Password <small data-bind="validationMessage: password"></small></label>
				<input data-bind="value: password" type="password" class="form-control" name="password" placeholder="Longer phrases are good here">
			</div>
			<div class="form-group" data-bind="css: {'has-error': confirmPassword.isModified() && !confirmPassword.isValid() }">
				<label class="control-label" for="passwordconfirm">Confirm password <small data-bind="validationMessage: confirmPassword"></small></label>
				<input data-bind="value: confirmPassword" type="password" class="form-control" name="passwordconfirm" placeholder="Confirm password for accuracy">
			</div>
			<ul class="actions">
				<li>
					<button data-bind="click: signup" type="submit" class="forward btn btn-success">Sign up</button>
				</li>
			</ul>
		</form>
	</div>
</div>