<div id="auth-signin" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Tell Blackbeard who you are</h2>
	</div>
	<div class="panel-body">
		<div class="row authentication-mechanisms">
			<a data-bind="click: signinlocal, visible: !user() || !user().local" title="Manually sign in with an email and password" href="#"><img src="/images/blackbeard200.png" /></a>
			<a data-bind="visible: !user() || !user().google" title="Sign in with your google account" href="/odo/auth/google"><img src="/images/google200.png" /></a></a>
			<a data-bind="visible: !user() || !user().facebook" title="Sign in with your facebook account" href="/odo/auth/facebook"><img src="/images/facebook200.png" />
			<a data-bind="visible: !user() || !user().twitter" title="Sign in with your twitter account" href="/odo/auth/twitter"><img src="/images/twitter200.png" /></a>
		</div>
		<ul class="actions">
			<li>
				<button data-bind="click: close" class="back btn btn-navigation">&larr; Cancel</button>
			</li>
		</ul>
	</div>
</div>