<div>
	<div id="site-title">
		<h1>Blackbeard <small>Performance reviews done right</small></h1>
	</div>
	
	<div class="container">
		<div class="row authentication-mechanisms">
			<div>
				<a data-bind="click: signinlocal" href="#"><img src="blackbeard200.png" /></a>
				<a href="/auth/google"><img src="google200.png" /></a></a>
			</div>
			<div>
				<a href="/auth/facebook"><img src="facebook200.png" />
				<a href="/auth/twitter"><img src="twitter200.png" /></a>
			</div>
		</div>
	</div>
</div>