<div class="container">
	<div id="site-title">
		<h1>Blackbeard <small>Performance reviews done right</small></h1>
	</div>
	
	<h1>Sign in with Twitter didn't work</h1>
	
	<p>If you were connecting Twitter to your Blackbeard account it's possible the Twitter account you used is already connected to another Blackbeard account. A Twitter account must be disconnected from all Blackbeard accounts before it can be connected to a new Blackbeard account.</p>
	
	<a data-bind="click: signin" class="btn btn-default" href="#"><span class="glyphicon glyphicon-log-in"></span> Try sign in again</a>
</div>