<div id="reset" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">You have an email with a link to reset your password</h2>
	</div>
	<div class="panel-body">
		An email has been sent to <a data-bind="text: email, attr: { href: email }"></a> with a link to reset your password.
		<ul class="actions">
			<li>
				<a data-bind="click: close" class="forward btn btn-primary">Done</a>
			</li>
		</ul>
	</div>
</div>