<div id="user-profile-displayname" class="panel panel-default" data-bind="shortcuts: { 'left': back }">
	<div class="panel-heading">
		<h2 class="panel-title">Change your password</h2>
	</div>
	<div class="panel-body">
		<form  data-bind="submit: changePassword" class="signup" role="form" autocomplete="off">
			<div class="form-group" data-bind="css: {'has-error': oldPassword.isModified() && !oldPassword.isValid() }">
				<label class="control-label" for="oldPassword">Old password <small data-bind="validationMessage: oldPassword"></small></label>
				<input data-bind="value: oldPassword" type="password" class="form-control" name="oldPassword" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
			</div>
			<div class="form-group" data-bind="css: {'has-error': password.isModified() && !password.isValid() }">
				<label class="control-label" for="password">New password <small data-bind="validationMessage: password"></small></label>
				<input data-bind="value: password" type="password" class="form-control" name="password" placeholder="Longer phrases are good here">
			</div>
			<div class="form-group" data-bind="css: {'has-error': confirmPassword.isModified() && !confirmPassword.isValid() }">
				<label class="control-label" for="passwordconfirm">Confirm new password <small data-bind="validationMessage: confirmPassword"></small></label>
				<input data-bind="value: confirmPassword" type="password" class="form-control" name="passwordconfirm" placeholder="Confirm password for accuracy">
			</div>
		</form>
		<ul class="actions">
			<li>
				<button data-bind="click: back" class="back btn btn-default">Cancel</button>
			</li>
			<li>
				<button data-bind="click: changePassword" class="forward btn btn-success">Done</button>
			</li>
		</ul>
	</div>
</div>