<div id="user-profile-review" class="panel panel-default" data-bind="shortcuts: { 'esc': close }">
	<div class="panel-heading">
		<button data-bind="click: close" type="button" class="close btn btn-default">&times;</button>
		<h2 class="panel-title">Update your profile in Blackbeard</h2>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-user"></span>
				<span data-bind="text: user().displayName"></span>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/displayname' })" href="#" class="btn btn-default btn-sm">Change full name <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li class="list-group-item">
				<span class="glyphicon">@</span>
				<em class="placeholder" data-bind="visible: !user().username">No username yet</em>
				<span data-bind="text: user().username"></span>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/username' })" href="#" class="btn btn-default btn-sm">Change username <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-envelope"></span>
				<em class="placeholder" data-bind="visible: !user().email">No email address yet</em>
				<span data-bind="text: user().email"></span>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/email' })" href="#" class="btn btn-default btn-sm">Change email address <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li data-bind="if: user().local, visible: user().local" class="list-group-item">
				<span class="glyphicon glyphicon-lock"></span>
				<em class="placeholder" data-bind="visible: !user().local.profile.password">No password yet</em>
				<em class="placeholder" data-bind="visible: user().local.profile.password">You have a password</em>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/password' })" href="#" class="btn btn-default btn-sm">Change password <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li data-bind="visible: user().facebook" class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span>
				<em class="placeholder">Connected with Facebook</em>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/auth/facebook' })" href="#" class="btn btn-default btn-sm">View Facebook profile <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li data-bind="visible: user().twitter" class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span>
				<em class="placeholder">Connected with Twitter</em>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/auth/twitter' })" href="#" class="btn btn-default btn-sm">View Twitter profile <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
			<li data-bind="visible: user().google" class="list-group-item">
				<span class="glyphicon glyphicon-ok"></span>
				<em class="placeholder">Connected with Google</em>
				<span class="pull-right"><a data-bind="click: wizard.forward({ model: 'views/user/profile/auth/google' })" href="#" class="btn btn-default btn-sm">View Google profile <span class="glyphicon glyphicon-chevron-right"></span></a></span>
			</li>
		</ul>
		<ul class="list-group">
			<li data-bind="visible: !user().local" class="list-group-item">
				<span class="glyphicon glyphicon-remove"></span>
				<em class="placeholder">No local sign in</em>
				<span class="pull-right"><a data-bind="click: signuplocal" class="btn btn-default btn-sm" href="#">Create Blackbeard account</a></span>
			</li>
			<li data-bind="visible: !user().facebook" class="list-group-item">
				<span class="glyphicon glyphicon-remove"></span>
				<em class="placeholder">Not connected with Facebook</em>
				<span class="pull-right"><a href="/odo/auth/facebook" href="#" class="btn btn-default btn-sm">Connect Facebook</a></span>
			</li>
			<li data-bind="visible: !user().twitter" class="list-group-item">
				<span class="glyphicon glyphicon-remove"></span>
				<em class="placeholder">Not connected with Twitter</em>
				<span class="pull-right"><a href="/odo/auth/twitter" href="#" class="btn btn-default btn-sm">Connect Twitter</a></span>
			</li>
			<li data-bind="visible: !user().google" class="list-group-item">
				<span class="glyphicon glyphicon-remove"></span>
				<em class="placeholder">Not connected with Google</em>
				<span class="pull-right"><a href="/odo/auth/google" href="#" class="btn btn-default btn-sm">Connect Google</a></span>
			</li>
		</ul>
		<ul class="actions">
			<li>
				<button data-bind="click: close" class="forward btn btn-primary">Done</button>
			</li>
		</ul>
	</div>
</div>