@font-face {
  font-family: 'LunchBoxSlab';
  src: url('lunchboxslabbold/lunchboxslabbold.eot');
  src: url('lunchboxslabbold/lunchboxslabbold.eot?#iefix') format('embedded-opentype'), url('lunchboxslabbold/lunchboxslabbold.woff') format('woff'), url('lunchboxslabbold/lunchboxslabbold.ttf') format('truetype'), url('lunchboxslabbold/lunchboxslabbold.svg#lunchboxslabbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LunchBoxSlab';
  src: url('lunchboxslab/lunchboxslab.eot');
  src: url('lunchboxslab/lunchboxslab.eot?#iefix') format('embedded-opentype'), url('lunchboxslab/lunchboxslab.woff') format('woff'), url('lunchboxslab/lunchboxslab.ttf') format('truetype'), url('lunchboxslab/lunchboxslab.svg#lunchboxslab') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LunchBoxSlab';
  src: url('lunchboxslablight/lunchboxslablight.eot');
  src: url('lunchboxslablight/lunchboxslablight.eot?#iefix') format('embedded-opentype'), url('lunchboxslablight/lunchboxslablight.woff') format('woff'), url('lunchboxslablight/lunchboxslablight.ttf') format('truetype'), url('lunchboxslablight/lunchboxslablight.svg#lunchboxslablight') format('svg');
  font-weight: lighter;
  font-style: normal;
}
