@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <!-- ko foreach: projects -->
    <div class="span4">
        <h3 data-bind="text: name"></h3>
    </div>
    <!-- /ko -->
</div>

<div id="my-slider" class="dragdealer">
    <div class="handle">
        <div class="slide"></div>
    </div>
</div>
<script type="text/coffeescript" src="/Scripts/util.coffee"></script>
<script type="text/coffeescript" src="/Scripts/blackbeard.coffee"></script>
