<div class="container">
	<div data-bind="visible: !isTokenValid()">
		The link you've used has expired. Go through the <a href="#" data-bind="click: forgot">forgot my password</a> steps again to generate a new link.
	</div>
	
	<form class="animated" data-bind="css: { shake: shouldShake }, visible: isTokenValid(), submit: changePassword" role="form" autocomplete="off">
		<h1>Reset your password</h1>
		
		<div class="form-group" data-bind="css: {'has-error': password.isModified() && !password.isValid() }">
			<label class="control-label" for="password">New password <small data-bind="validationMessage: password"></small></label>
			<input data-bind="value: password" type="password" class="form-control" name="password" placeholder="Longer phrases are good here">
		</div>
		<div class="form-group" data-bind="css: {'has-error': confirmPassword.isModified() && !confirmPassword.isValid() }">
			<label class="control-label" for="passwordconfirm">Confirm new password <small data-bind="validationMessage: confirmPassword"></small></label>
			<input data-bind="value: confirmPassword" type="password" class="form-control" name="passwordconfirm" placeholder="Confirm password for accuracy">
		</div>
		<ul class="actions">
			<li>
				<button data-bind="click: changePassword" class="forward btn btn-success">Change Password</button>
			</li>
		</ul>
	</form>
</div>